@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(224, 247, 224);
}

.menu {
    background-color: rgb(159, 156, 156);
    position: fixed;
    right: 0px;
    z-index: 1;
}

.top {
    background-image: url(image/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    /* background-size: contain; */
    /* background-attachment: fixed; */
}



.collapsed {
    color: rgb(74, 60, 231)
}

.nav-link {
    color: white
}

.nav-link-black {
    color: black
}

.icon {
    width: 26px;
    height: 26px;
}

.icon-Qiita {
    width: 22px;
    height: 22px;
}

#mapid {
    z-index: 0;
}